@media all and (max-width: 1240px) {
  .container {
    width: 75%;
  }

}

@media all and (max-width: 1080px) {
  .container {
    width: 85%;
  }
}

@media all and (max-width: 940px) {
  .container {
    width: 90%;
  }
  .notes-block {
    .add-item, .note-item {
      //width: 205px;
    }
  }

}

@media all and (max-width: 800px) {
  .container {
    width: 95%;
  }
  .notes-block {
    .add-item, .note-item {
      //width: 190px;
    }
  }
}

@media all and (max-width: 745px) {
  .notes-block {
    .add-item, .note-item {
      width: calc(50% - 25px);
    }
  }
}

@media all and (max-width: 490px) {
  .notes-block {

    .add-item, .note-item {
      width: 100%;
    }
  }
}

@media all and (max-width: 330px) {
  .notes-block {
    .note-item {
      z-index: 1;
      &:last-child {
        margin-bottom: 140px;
      }
    }
    .add-item {
      //position: fixed;
      //bottom: 0;
      height: 100px;
      z-index: 2;
      .plus {
        font-size: 48px;
      }
    }
  }
}

