.main-section {}
.input-search-field {
  margin: 0 auto;
  text-align: center;

  input {
    max-width: 550px;
    min-width: 230px;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 25px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    outline: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

  }

}
.notes-block {

  .notes {
    margin: 0 auto;
  }

  .add-item, .note-item {
    width: calc(30% - 10px);
    margin-bottom: 10px;
  }

  .note-item {
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background: #cefff5;
    border-radius: 8px;
    padding: 10px;
    &:hover {
      .delete-item { //making delete button visible
        opacity: 1;
      }
      .add-textarea {
        opacity: 1;
      }
    }

    &.hidden {
      display: none;
    }

    h3 {
      font-size: 16px;
    }
    .body {
      display: block;
      margin: 10px 0;
    }
    input, textarea {
      background: transparent;
      border: none;
      outline: none;
      outline: 0;
      resize: none;
    }
  }

  .note-list-item {
    &.done textarea {
      text-decoration: line-through;
    }
  }

  .add-item {
    border: 4px solid #4588f9;
    color: #4588f9;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding-bottom: 10px;
    &:hover {
      background-color: #eef6ff;
    }

    .plus {font-size: 108px;}
  }

}
// title from item
.title {
  padding: 0 15px;

}
.title-input { // textarea
  font-weight: 600;

}

// checkbox block
.checkbox-block {
  padding: 5px 15px;
  display: flex;
  background: transparent;
}
.list-item-input {
  padding: 0 10px;
  width: 100%;
}

.item-list {
  margin: 10px;
}

// buttons delete & add item of note

.delete-item, .add-textarea {
  font-size: 14px;
  border-radius: 5px;
  color: white;
  text-align: center;
  opacity: 0;
  cursor: pointer;
  transition: .2s;
}

// delete item
.delete-block {
  position: absolute;
  right: 10px;
}
.delete-item {
  background-color: #d1766f;
  padding: 0 4px;
  &:hover {
    background-color: #b96460;
  }
}

// add new item
.block-add-textarea {
  text-align: center;
}
.add-textarea {
  width: 70%;
  background-color: rgba(69, 136, 249, 0.9); //like an border of "add new" button
  border: none;
  outline: none;
  &:hover {
    background-color: rgba(69, 109, 219, 0.9);
  }

}